# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/ 

# Ignore Visual Studio files
.vs/
x64/
Debug/
x64/Debug

# Include Dependencies folder
!/Dependencies/SDL_image/lib/x64/
!/Dependencies/SDL2_core/lib/x64/
!/Dependencies/SDL2_mixer/lib/x64/
!/Dependencies//SDL2_ttf/lib/x64/


# Ignore user-specific Visual Studio files
*.vcxproj.user

